#title{
    -fx-text-fill: #4472C4;
    -fx-font-weight: bold;
}

#QueueManagment{
    -fx-text-fill: #c44444;
}
.backGroundColor{
    -fx-background-color: #e5e5e5;
}

.title{
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-text-fill: #007bff;
    -fx-border-color: #007bff;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 3 0;
}

.default-color0.chart-bar{
    -fx-bar-fill:red;
}
.default-color1.chart-bar{
    -fx-bar-fill:blue;
}

#backGroundStyle{
    -fx-background-color: #d0e7d0;
    -fx-border-color: #ff5e5e;
    -fx-background-radius: 5.0;
    -fx-border-width: 5px;
}

#terminationInfo{
    -fx-font-size: 16px;
    -fx-font-family: "Helvetica Neue", Arial, sans-serif;
    -fx-text-fill: #333;
}

#Env {
    -fx-background-color: lightblue;
    -fx-border-width: 5px;
    -fx-border-color: #2e8b57;
    -fx-background-radius: 5.0;
}

#Entity{
    -fx-background-color: #e6f3fa;
    -fx-border-width: 5px;
    -fx-border-color: #c7f3d6;
    -fx-background-radius: 5.0;
}

#Rules{
    -fx-background-color: #ffffff;
    -fx-border-width: 5px;
    -fx-border-color: #8c8cf8;
    -fx-background-radius: 5.0;
}

.buttonExecution{
    -fx-background-color: #4472C4;
    -fx-text-fill: white;
}
.buttonExecution:hover{
    -fx-background-color: #bbbbfc;
    -fx-text-fill: black;
}
#labelError{
    -fx-text-fill: #49ff00;
    -fx-font-weight: bold;
}